<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Hakan Güçlü - Web developer based in Istanbul</title>
	<link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body>

	<div class="container">
		<header class="logo-nav">
			<h1 class="logo-text"><a href="/">Hakan<br />Güçlü</a></h1>
			<nav class="main-nav">
				<ul>
					<li id="home-link-container"><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</nav>
		</header>

		<main>

			@RenderBody()

		</main>
	</div>

	<script src="https://kit.fontawesome.com/d50a0637eb.js" crossorigin="anonymous"></script>

</body>
</html>