<h2 class="content-title">Home</h2>

<article>
	<p>Hi! I’m Hakan, a <strong>full-stack web developer</strong> based in Istanbul.</p>
	<p>I work with modern web technologies to create solutions to complex business problems.</p>
	<p><a href="/about">Read more about me</a> to learn specific technologies that I work with, or <a href="/blog">check out my blog</a> where I share technical articles, essays, and other writings on modern trends in programming.</p>
	<p>In any case, feel free to <a href="/contact">contact me</a> to ask questions, share a business idea, get advice, or anything!</p>
</article>

<a class="action-button" href="/contact">I'm available for hire, let’s talk!</a>