<h2 class="content-title">Contact</h2>

<article>
	
	<p>
		For all inquiries:<br />
		<a href="mailto:creatorX64@outlook.com">creatorX64@outlook.com</a>
	</p>
	
	<p class="social-media-links">
		Social media:<br />
		<span class="social-icons">
			<a href="https://www.reddit.com/user/CX64" target="_blank"><i class="fab fa-reddit-square" aria-label="Reddit"></i></a>
			<a href="https://github.com/CreatorX64" target="_blank"><i class="fab fa-github-square" aria-label="GitHub"></i></a>
			<a href="https://twitter.com/CreatorX64" target="_blank"><i class="fab fa-twitter-square" aria-label="Twitter"></i></a>
			<a href="https://www.linkedin.com/in/creatorx64/" target="_blank"><i class="fab fa-linkedin" aria-label="LinkedIn"></i></a>
			<a href="https://www.youtube.com/channel/UC1E05t9n5AzV0QABmB0FfdA" target="_blank"><i class="fab fa-youtube-square" aria-label="YouTube"></i></a>
			<a href="https://www.facebook.com/CreatorX64/" target="_blank"><i class="fab fa-facebook-square" aria-label="Facebook"></i></a>
		</span>
	</p>
</article>