<h2 class="content-title">Blog</h2>

<article>

	<img class="under-construction" src="/assets/img/construction.gif" alt="A large building under construction." />

	<p>This page is under construction.</p>
	
	<p>Please check back later, and perhaps we'll have some latte for you!</p>

</article>